* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #C54F1E;
}
h1{
    color: #C54F1E;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.forms {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.forms-header .title h1 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    font-size: 0.9rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

.gender-inputs .gender-title h6 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.gender-group {
    display: flex;
    justify-content: space-between;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 5px;
}

.continue-button input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #C54F1E;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.continue-button input:hover {
    background-color: #C54F1E;
}

@media screen and (max-width: 320px) {
    /* Ajustes para telas pequenas */
    .container {
        padding: 0;
    }

    .forms {
        padding: 15px;
    }

    .forms-header .title h1 {
        font-size: 1.2rem;
    }

    .input-box input {
        font-size: 0.8rem;
        padding: 8px;
    }

    .gender-inputs .gender-title h6 {
        font-size: 0.9rem;
    }

    .gender-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .gender-input {
        margin-bottom: 10px;
    }

    .continue-button input {
        font-size: 0.9rem;
    }
}
