*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #C4541D 0%, #D96629 100%); 
}

h1{
    color: #C4541D;
    text-align: center;
}

p{
    color: #fff;
}

.paragrafo{
    color: #C4541D;
}

.container{
    width: 600px;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.input-group input{
    border: 1px solid black;
}

.forms-login{
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: beige;
    padding: 3rem;
    border-radius: 30px;
    height: 500px;
}

.login-header{
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
} 

.cadastro-button{
    display: flex;
    align-items: center;
}

.cadastro-button button{
    border: none;
    background: linear-gradient(90deg, #C4541D 0%, #D96629 100%); 
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-button button:hover{
    background: linear-gradient(90deg, #cf581c 0%, #d47b4b 100%); 

}

.cadastro-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.input-group{
    align-items: center;
    margin: 20px auto;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px gray;
    font-size: 0.8rem;
}

.input-group .input-box input::placeholder{
    color: gray;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid black;
}

.input-box label{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000;
}

.input-box input::placeholder{
    color: #000000;
}

.login-button button{
    width: 100%;
    margin-top: 1.5rem;
    border: none;
    background: linear-gradient(90deg, #C4541D 0%, #D96629 100%); 
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: rgb(230, 171, 94);
}

.login-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #000000;
}

.senha-nova{
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.senha-nova a{
    text-decoration: none;
    color: black;
}

.senha-nova a:hover{
    text-decoration: underline;
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 320px) {
    .container{
        width: 90%;
        height: 500px;
    }
    .input-group{
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 10rem;
    }
} 