/* CSS geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    font-size: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Layout de filtros */
.filters {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.filters select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Lista de restaurantes */
.restaurant-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.restaurant {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.restaurant img {
    width: 100%;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
}

.restaurant .info {
    margin-top: 10px;
}

.restaurant h3 {
    font-size: 1rem;
   
}