<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/cadastroDono.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    <title>Cadastrar</title>
</head>
<body>
    <header>
        <div class="interface">
            <section class="logo">
                <a href="home.html"><img id="logo" src="/img/logo.png" alt="Delirius Food"></a>
            </section>   
            <section class="menu-desktop">
                <nav>
                    <ul>
                        <li class="menu"><i class="fa-solid fa-tag"></i><a href="cadastrar.html"> Cadastrar</a></li>
                        <li class="menu"><i class="fa-solid fa-basket-shopping"></i><a href="pedidos.html"> Gestão</a></li>
                        <li class="menu"><i class="fa-solid fa-file"></i><a href="relatorio.html"> Relatório</a></li>
                    </ul>
                </nav>
            </section>  
        </div>     
    </header>
    <section  class="hero" id="cadastrar">
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastrar Alimento</h1>
                    </div>
                    <div class="input-group">
                        <div class="input-box">
                            <label for="name">Nome</label><br>
                            <input type="text" id="name" name="nome"><br>
                        </div>
                        <div class="input-box">
                            <label for="text">Preço</label><br>
                            <input type="number" id="preço" name="preço"><br>
                        </div>
                        <div class="input-box">
                            <label for="data">Fabricação</label><br>
                            <input type="date" id="fabricação" name="fabricação"><br>
                        </div>
                        <div class="input-box">
                            <label for="data">Validade</label><br>
                            <input type="date" id="validade" name="validade"><br>
                        </div>
                        <div class="input-box">
                            <label for="quantia">Quantidade</label><br>
                            <input type="number" id="quantidade" name="quantidade"><br>
                        </div>
                    </div>
                </div>
                <div class="botao">
                    <button>Cadastrar</button>
                </div>
            </form>
        </div>
    </section>
    
    <section class="editar">
        <div class="disponiveis">
            <div class="comidas">
                <img src="/img/brig.png" width="200" height="150" alt="Comida">
                <div class="brig">
                    <h3>Brigadeiro de Ninho</h3>
                    <h4>Cantina</h4>
                    <p><strong>R$ 3,00</strong></p>
                    <button>Editar</button>
                </div>
            </div>
            <div class="comidas">
                <img src="/img/brig2.png" width="200" height="150" alt="Comida">
                <div class="brig">
                    <h3>Caixinha de Brigadeiros</h3>
                    <h4>Cantina</h4>
                    <p><strong>R$ 14,99</strong></p>
                    <button>Editar</button>
                </div>
            </div>
            <div class="comidas">
                <img src="/img/brig3.png" width="200" height="150" alt="Comida">
                <div class="brig">
                    <h3>Ninho com Nutella</h3>
                    <h4>Cantina</h4>
                    <p><strong>R$ 3,00</strong></p>
                    <button>Editar</button>
                </div>
            </div>
            <div class="comidas">
                <img src="/img/brig5.png" width="200" height="150" alt="Comida">
                <div class="brig">
                    <h3>Beijinho</h3>
                    <h4>Cantina</h4>
                    <p><strong>R$ 3,00</strong></p>
                    <button>Editar</button>
                </div>
            </div>
            <div class="comidas">
                <img src="/img/brig4.png" width="200" height="150" alt="Comida">
                <div class="brig">
                    <h3>Doce de Uva</h3>
                    <h4>Cantina</h4>
                    <p><strong>R$ 3,00</strong></p>
                    <button>Editar</button>
                </div>
            </div>
            <div class="comidas">
                <img src="/img/brig6.png" width="200" height="150" alt="Comida">
                <div class="brig">
                    <h3>Brigadeiro</h3>
                    <h4>Cantina</h4>
                    <p><strong>R$ 3,00</strong></p>
                    <button>Editar</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <img src="/img/favicon.png" alt="Delirius Food">
        
        <div class="links">
            <ul>
                <li>
                    <a href="cadastroDono.html">
                        <i class="fa-solid fa-tag"></i>
                        <span>Cadastrar</span>
                    </a>
                </li>
                <li>
                    <a href="pedidos.html">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <span>Gestão</span>
                    </a>
                </li>
                <li>
                    <a href="relatorio.html">
                        <i class="fa-solid fa-file"></i>
                        <span>Relatório</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div id="texto2">
            <h3>Encontre Aqui</h3>
            <input id="search2" type="text" placeholder="Ache produtos e restaurantes">
        </div>
    </footer>
    
    <div class="bottom-footer">
            <span id="copyright">
                &copy 2025 Delirius Food - Todos os direitos reservados.
            </span>
    </div>
</body>
</html>
