<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <title>Delirius Food</title>
</head>
<body>
    <header>
        <a href="home.html"><img id="logo" src="/static/img/logo.png" alt="Delirius Food"></a>
        
        <nav>
            <ul>
                <li>
                    <a href="#ofertas">
                        <i class="fa-solid fa-face-grin-stars"></i>
                        <span>Ofertas</span>
                    </a>
                </li>
                <li>
                    <a href="#menu">
                        <i class="fa-solid fa-bowl-food"></i>
                        <span>Menu</span>
                    </a>
                </li>
                <li>
                    <a href="#restaurante">
                        <i class="fa-solid fa-shop"></i>
                        <span>Restaurantes</span>
                    </a>
                </li>
            </ul>
        </nav>

        <a href="#"><button>Entrar</button></a>
    </header>

    <main>
        <div class="hero">
            <img src="/static/img/prato.png" alt="prato feito">
            
            <div id="texto">
                <h1>Delirius Food</h1>
                <input id="search" type="text" placeholder="Pesquisar produtos e restaurantes">
                <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <circle cx="11" cy="11" r="8" stroke="#888" stroke-width="2" fill="none"/>
                    <line x1="16" y1="16" x2="22" y2="22" stroke="#888" stroke-width="2"/>
                </svg>
            </div>
        </div>

        <section id="ofertas">
            <div class="oferta">
                <img src="/static/img/pizza.png" alt="pizza">
                <div id="texto">
                    <h3 id="dia"><i>OFERTA DO DIA!</i></h3>
                    <h3 id="preco">2 pizzas por <br> APENAS R$15,99</h3>
                </div>
            </div>

            <div class="novidade">
                <div id="texto">
                    <h3 id="new">NOVIDADE!</h3>
                    <h3>Milkshake sabor cereja</h3>
                </div>
                <img src="/static/img/milkshake.png" alt="milkshake">
            </div>
        </section>

        <section id="menu">
            <h2>Menu</h2>
            <div class="cards">
                <div class="card">
                    <img id="f1" src="/static/img/coxinha.png">
                    <h4>Salgados</h4>
                </div>
                <div class="card">
                    <img id="f2" src="/static/img/burguer.png">
                    <h4>Hambúrguer</h4>
                </div>
                <div class="card">
                    <img id="f3" src="/static/img/fatia.png">
                    <h4>Pizzas</h4>
                </div>
                <div id="c4" class="card">
                    <img id="f4" src="/static/img/juice.png">
                    <h4>Bebidas</h4>
                </div>
                <div class="card">
                    <img id="f5" src="/static/img/cake.png">
                    <h4>Doces</h4>
                </div>
            </div>
        </section>

        <section id="restaurante">
            <h2>Restaurantes</h2>
            <div class="cards">
                <div class="card">
                    <img id="ft1" src="/static/img/pastel.png">
                    <div id="t1">
                        <h4>Pastelaria Osnar</h4>
                        <h4 class="categoria">Salgados</h4>
                    </div>
                </div>
                <div class="card">
                    <img id="ft2" src="/static/img/subway.png">
                    <div id="t1">
                        <h4>Sanduicheria Beach</h4>
                        <h4 class="categoria">Salgados</h4>
                    </div>
                </div>
                <div class="card">
                    <img id="ft3" src="/static/img/tapioca.png">
                    <div id="t1">
                        <h4>Tropeira Mix</h4>
                        <h4 class="categoria">Salgados</h4>
                    </div>
                </div>
                <div class="card">
                    <img id="ft4" src="/static/img/ice.png">
                    <div id="t1">
                        <h4>Casa Solar</h4>
                        <h4 class="categoria">Doces</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <img id="logo" src="/static/img/logo.png" alt="Delirius Food">
        
        <div class="links">
            <ul>
                <li>
                    <a href="#ofertas">
                        <i class="fa-solid fa-face-grin-stars"></i>
                        <span>Ofertas</span>
                    </a>
                </li>
                <li>
                    <a href="#menu">
                        <i class="fa-solid fa-bowl-food"></i>
                        <span>Menu</span>
                    </a>
                </li>
                <li>
                    <a href="#restaurante">
                        <i class="fa-solid fa-shop"></i>
                        <span>Restaurantes</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div id="texto2">
            <h3>Encontre Aqui</h3>
            <input id="search2" type="text" placeholder="Ache produtos e restaurantes">
        </div>
    </footer>
    
    <div class="bottom-footer">
            <span id="copyright">
                &copy 2025 Delirius Food - Todos os direitos reservados.
            </span>
    </div>
</body>
</html>
