<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/CM-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
       
        <div class="forms-login">
            <form action="#">
                <div class="login-header">
                    <div class="title">
                        <h1>Login</h1>
                    </div>

                    <div class="cadastro-button">
                        <button><a href="cadastro.html">Criar Conta</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input type="email" placeholder="Digite seu email" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input type="password" maxlength="6" placeholder="Digite sua senha" required>
                    </div>
                </div>

                <div class="login-button">
                    <button type="submit"><a href="index.html"></a>Entrar</button> 
                </div>

                <div class="senha-nova">
                    <a href="#">Esqueci minha senha</a>
                    
                </div>
            </form>
        </div>
    </div>
</body>

</html>