<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    <title>Login</title>
</head>

<body>
    <div class="container">
       
        <div class="forms-login">
            <form action="#">
                <h1>Login</h1>

                <div class="input-group">
                    <div class="input-box">
                        <label for="email"><p class="paragrafo">Email</p></label>
                        <input type="email" placeholder="Digite seu email" required>
                    </div>

                    <div class="input-box">
                        <label for="password"><p class="paragrafo">Senha</p></label>
                        <input type="password" maxlength="6" placeholder="Digite sua senha" required>
                    </div>
                </div>

                <div class="login-button">
                    <button type="submit"><a href="{{ url_for('home') }}"></a><p>Entrar</p></button> 
                </div>
                
                <div class="login-button">
                    <button><a href="{{ url_for('cadastro') }}"></a><p>Realizar cadastro</p></button> 
                </div>
            </form>
        </div>
    </div>
</body>
</html>