<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/CM-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
       
        <div class="forms-login">
            <form action="#">
                <h1>Login</h1>

                <div class="input-group">
                    <div class="input-box">
                        <label for="email"><p class="paragrafo">Email</p></label>
                        <input type="email" placeholder="Digite seu email" required>
                    </div>

                    <div class="input-box">
                        <label for="password"><p class="paragrafo">Senha</p></label>
                        <input type="password" maxlength="6" placeholder="Digite sua senha" required>
                    </div>
                </div>

                <div class="login-button">
                    <button type="submit"><a href="index.html"></a><p>Entrar</p></button> 
                </div>
                
                <div class="login-button">
                    <button type="submit"><a href="index.html"></a><p>Realizar cadastro</p></button> 
                </div>
            </form>
        </div>
    </div>
</body>

</html>