<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/pedido.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">


    <title>Gestão Pedidos</title>
</head>
<body>
   
    <header>
        <div class="interface">
            <section class="logo">
                <img src="/static/img/logo.png" alt="logo">
            </section>  
            <section class="menu-desktop">
                <nav>
                    <ul>
                        <li class="menu"><i class="fa-solid fa-tag"></i><a href="/templates/cadastroDono.html"> Cadastrar</a></li>
                        <li class="menu"><i class="fa-solid fa-file"></i><a href="/templates/relatorio.html"> Relatórios</a></li>  <li class="menu"><i class="fa-solid fa-bars"></i><a href="/templates/visaoDono.html"> Menu</a></li>
                    </ul>
                </nav>
            </section>  
        </div>    
    </header>
    <main>
        <section class="relatorio">
            <table>
                <tbody>
                    <tr>
                        <th colspan="6">Getão de Pedidos</th>
                    </tr>
                    <tr class="linha">
                        <td><i class="fa-solid fa-star"></i> LOTE:</td>
                        <td><i class="fa-solid fa-calendar"></i> DATA/HORA:</td>
                        <td><i class="fa-solid fa-thumbs-up"></i> RESPONSAVEL:</td>
                        <td><i class="fa-solid fa-user"></i> CLIENTE:</td>
                        <td><i class="fa-solid fa-location-dot"></i> LOCAL:</td>
                        <td><i class="fa-solid fa-motorcycle"></i> STATUS:</td>
                    </tr>
                    <tr>
                        <td>954655</td>
                        <td>22/01/2025  às 13:40</td>
                        <td>Michele Silva</td>
                        <td>Raul Seixas</td>
                        <td>Sala 212</td>
                        <td>Entregue</td>
                    </tr>
                    <tr>
                        <td>278545</td>
                        <td>22/02/2025 às 15:00</td>
                        <td>Emanuel Soares</td>
                        <td>Milene Claúde</td>
                        <td>Refeitório</td>
                        <td>Pagamento pendente</td>
                    </tr>
                    <tr>
                        <td>186546</td>
                        <td>22/02/2025 às 16:30</td>
                        <td>Michele Silva</td>
                        <td>Italo Costa</td>
                        <td>Laboratório de química</td>
                        <td>Em andamento</td>
                    </tr>
                    <tr>
                        <td>864823</td>
                        <td>22/02/2025 às 17:20</td>
                        <td>Emanuel Soares</td>
                        <td>Mauro Gamboa</td>
                        <td>Portaria</td>
                        <td>Em andamento</td>
                    </tr>
                    <tr>
                        <td>648535</td>
                        <td>22/02/2025 às 17:35</td>
                        <td>Emanuel Soares</td>
                        <td>Mauro Gamboa</td>
                        <td>Portaria</Ri:a></td>
                        <td>No caminho</td>
                    </tr>
                    <tr>
                        <td>564215</td>
                        <td>23/02/2025 às 08:50</td>
                        <td>Michele</td>
                        <td>Lucas Perera</td>
                        <td>Ginásio</td>
                        <td>Agendado</td>
                    </tr>
                    <tr>
                        <td>265595</td>
                        <td>23/02/2025 às 09:00</td>
                        <td>Michele Silva</td>
                        <td>Roberta Ferreira</td>
                        <td>Viveiro</td>
                        <td>Agendado</td>
                    </tr>
                </tbody>
            </table>
                   
        </section>
    </main>
    <footer>
        <img id="logo" src="/static/img/logo.png" alt="Delirius Food">
       
        <div class="links">
            <ul>
                <li>
                    <a href="/templates/visaoDono.html" target="_blank">
                        <i class="fa-solid fa-bars"></i>
                        <span>Menu</span>
                    </a>
                </li>
                <li>
                    <a href="/templates/cadastroDono.html" target="_blank">
                        <i class="fa-solid fa-tag"></i>
                        <span>Cadastrar</span>
                    </a>
                </li>
                <li>
                    <a href="/templates/pedidos.html" target="_blank">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <span>Gestão</span>
                    </a>
                </li>
            </ul>
        </div>
       
        <div id="texto2">
            <h3>Encontre Aqui</h3>
            <input id="search2" type="text" placeholder="Ache produtos e restaurantes">
        </div>
    </footer>
   
    <div class="bottom-footer">
            <span id="copyright">
                &copy 2025 Delirius Food - Todos os direitos reservados.
            </span>
    </div>
</body>
</html>
