<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento PIX</title>
    <link rel="stylesheet" href="/static/pix.css">

</head>
<body>
    <div class="container">
        <h1>Pagamento via PIX</h1>
        <p>Por favor, utilize a chave pix abaixo para realizar seu pagamento via PIX.</p>
        
        <div class="pix-info">
            <p><strong>Chave PIX:</strong> exemplo@dominio.com</p>
            <p><strong>Valor a ser pago:</strong> R$ 100,00</p>
        </div>

        <div class="instructions">
            <p>Para realizar o pagamento, abra seu aplicativo bancário, escolha a opção "PIX" e leia o QR Code acima. O valor de R$ 100,00 será debitado da sua conta.</p>
            <p>Após o pagamento, você receberá uma confirmação automaticamente.</p>
        </div>
    </div>
</body>
</html>
