<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/relatorio.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <title>Restaurante</title>
</head>
<body>
    <header>
        <div class="interface">
            <section class="logo">
                <a href="home.html"><img src="/img/logo.png" alt="logo"></a>
            </section>   
            <section class="menu-desktop">
                <nav>
                    <ul>
                        <li class="menu"><i class="fa-solid fa-tag"></i><a href="cadastroDono.html"> Cadastrar</a></li>
                        <li class="menu"><i class="fa-solid fa-basket-shopping"></i><a href="pedidos.html"> Pedidos</a></li>
                        <li class="menu"><i class="fa-solid fa-bars"></i><a href="restaurante.html"> Menu</a></li>
                    </ul>
                </nav>
            </section>  
        </div>     
    </header>
    <section class="relatorio">
        <table>
            <tbody>
                <tr>
                    <th colspan="5"><i class="fa-solid fa-signal"></i> Relatório de vendas</th>
                </tr>
                <tr class="linha">
                    <td>VENDAS:</td>
                    <td>DATA:</td>
                    <td>PREÇO:</td>
                    <td>QUANTIDADE:</td>
                    <td>TOTAL:</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>22/01/2025</td>
                    <td>R$150,00</td>
                    <td>30</td>
                    <td>R$1.360,00</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>23/02/2025</td>
                    <td>R$569,90</td>
                    <td>120</td>
                    <td>R$5.890,90</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>24/02/2025</td>
                    <td>R$369,95</td>
                    <td>74</td>
                    <td>R$4.023,00</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>25/02/2025</td>
                    <td>R$220,00</td>
                    <td>28</td>
                    <td>R$2.203,00</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>26/02/2025</td>
                    <td>R$670,00</td>
                    <td>60</td>
                    <td>R$3.680,30</Ri:a></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>27/02/2025</td>
                    <td>R$470,00</td>
                    <td>53</td>
                    <td>R$3.090,20</Ri:a></td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>28/02/2025</td>
                    <td>R$706,00</td>
                    <td>44</td>
                    <td>R$3.062,25</Ri:a></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>29/02/2025</td>
                    <td>R$360,00</td>
                    <td>30</td>
                    <td>R$2.802,30</Ri:a></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>01/02/2025</td>
                    <td>R$670,00</td>
                    <td>36</td>
                    <td>R$2.680,00</Ri:a></td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>01/03/2025</td>
                    <td>R$370,00</td>
                    <td>219</td>
                    <td>R$4.000,10</Ri:a></td>
                </tr>
                <tr>
                    <td>92</td>
                    <td>02/03/2025</td>
                    <td>R$220,00</td>
                    <td>140</td>
                    <td>R$3.018,26</Ri:a></td>
                </tr>
                <tr>
                    <td>94</td>
                    <td>03/03/2025</td>
                    <td>R$226,00</td>
                    <td>230</td>
                    <td>R$3.880,00</Ri:a></td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
        <img src="/img/favicon.png" alt="Delirius Food">
        
        <div class="links">
            <ul>
                <li>
                    <a href="visaoDono.html">
                        <i class="fa-solid fa-bars"></i>
                        <span>Menu</span>
                    </a>
                </li>
                <li>
                    <a href="cadastroDono.html">
                        <i class="fa-solid fa-tag"></i>
                        <span>Cadastrar</span>
                    </a>
                </li>
                <li>
                    <a href="pedidos.html">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <span>Gestão</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div id="texto2">
            <h3>Encontre Aqui</h3>
            <input id="search2" type="text" placeholder="Ache produtos e restaurantes">
        </div>
    </footer>
    
    <div class="bottom-footer">
            <span id="copyright">
                &copy 2025 Delirius Food - Todos os direitos reservados.
            </span>
    </div>

</body>